<p style="color: green"><%= notice %></p>

<div class="p-5 mb-4 bg-body-secondary rounded-3">
  <div class="container-fluid">
    <h1 class="display-4">
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h1>
    <p class="lead" >
      <%= @friend.email %> | <%= @friend.phone %>
    </p>
    <div>
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-primary" %>

      <%= link_to "Back", friends_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>
